[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.7"
gunicorn = "~=20.0.4"
whitenoise = "~=5.2.0"
dj-database-url = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
pillow = "*"
psycopg2-binary = "*"
skyfield = "*"
pytz = "*"
celery = "*"
twilio = "*"
django-celery-results = "*"
django-celery-beat = "*"
redis = "*"
rq = "*"

[dev-packages]

[requires]
python_version = "3.9"
