/*#4A1915*/
.card {
    background-color: #4A1915;
    text-align: center;
    border: 1px solid #b2b2b2;
}

.card-image {
    padding: 20px;
}

.footer {
    background-color: #181A1B;
    /*padding-top: .5rem;*/
    /*padding-bottom: .5rem;*/
}

img {
    width: 100%;
}

.create {
    text-align: center;
}

.modal-content {
    background-color: black;
    color: white;
}

.form-control {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.clearfix {
    clear: both;
}
::selection{
    background-color: #5b6265;
}