/*#4A1915*/
.card {
    background-color: #4A1915;
    text-align: center;
}

.card-image {
    padding: 20px;
}

.footer {
    background-color: #181A1B;
    /*padding-top: .5rem;*/
    /*padding-bottom: .5rem;*/
}